<style>
  input.ng-invalid.ng-touched {
    background: indianred
  }
</style>
<div ng-controller="PizzaController as $ctrl">
  <form name="pizzaForm"
    ng-submit="$ctrl.savePizza(pizzaForm)"
    novalidate>

    <label for="name">Nom :</label>
    <input required ng-model="$ctrl.pizza.name" name="name" type="text" id="name">
    <p class="text-danger" ng-if="pizzaForm.name.$invalid && pizzaForm.name.$touched">Nom obligatoire</p>
    <br>

    <label for="topping_{{ topping }}" ng-repeat="(topping, toppingName) in $ctrl.toppings track by $index">
      {{ topping }}
      <input id="topping_{{ topping }}"
        type="checkbox"
        ng-model="$ctrl.pizza.toppings[$index]">
    </label>

    <br>

    <button type="submit">save</button>

    <pre>{{ $ctrl.pizza | json }}</pre>

  </form>
</div>