<style>
  input.ng-invalid.ng-touched {
    background: indianred
  }
  label {
    display: block
  }
</style>
<div ng-controller="PizzaController as $ctrl">
  <form name="pizzaForm"
    ng-submit="$ctrl.savePizza(pizzaForm)"
    novalidate>

    <label for="name">Nom :</label>
    <input
      ng-model-options="{ updateOn : 'blur' }"
      ng-model="$ctrl.pizza.name"
      required
      name="name"
      type="text"
      id="name">
    <p class="text-danger" ng-if="pizzaForm.name.$invalid && pizzaForm.name.$touched">Nom obligatoire</p>
    <br>

    <!--<select ng-model="$ctrl.pizza.toppings" name="" multiple="true"
      ng-options="key as value.fr for (key, value) in $ctrl.toppings">
    </select>-->

    <!--<label for="topping_{{ topping }}" ng-repeat="(topping, toppingName) in $ctrl.toppings track by $index">
      {{ topping }}
      <input id="topping_{{ topping }}"
        type="checkbox"
        ng-model="$ctrl.pizza.toppings[$index]">
    </label>-->

    <br>

    <button type="submit">save</button>

    <pre>{{ $ctrl.pizza | json }}</pre>

  </form>
</div>