<div ng-controller="PizzaListController as $ctrl">
  <input ng-model="query" type="text" class="form-control">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Ingrédients</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pizza in $ctrl.pizzas | filter:query track by $index">
        <td>{{ pizza.name }}</td>
        <td>{{ pizza | pizzaToppings }}</td>
        <td>
          <button ng-click="$ctrl.cookPizza(pizza)" ng-if="!pizza.status" class="btn">cook me</button>
          <span ng-if="pizza.status">CUITE</span>
        </td>
      </tr>
    </tbody>
  </table>

  <button ng-click="$ctrl.addPizza()" class="btn btn-primary">
    Nouvelle Pizza
  </button>
  <button ng-click="$ctrl.cookPizzas()" class="btn">Cuire toutes les pizzas</button>

</div>