  input.ng-invalid.ng-touched {
    background: indianred
  }
  label {
    display: block
  }

  ul.toppings li {
    float: left;
    list-style-type: none;
    padding: .5em;
    border: 1px solid #ddd;
    margin: .5em;
  }